[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gdal = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "2.7"
